database/directional.tda.radius=3.coneheight=6.coneradius=3/** filter=lfs diff=lfs merge=lfs -text
structures/attd/*.npy filter=lfs diff=lfs merge=lfs -text
structures/rtp/*.npy filter=lfs diff=lfs merge=lfs -text
structures/td/*.npy filter=lfs diff=lfs merge=lfs -text
